<?xml version='1.0' encoding='utf-8'?>
<plugin id="saltfactory-cordova-plugin-http" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>saltfactory-cordova-plugin-http</name>
    <description>saltfactory's cordova http plugin</description>
    <js-module name="saltfactory-cordova-plugin-http" src="www/saltfactory-cordova-plugin-http.js">
        <clobbers target="cordova.plugins.saltfactory-cordova-plugin-http" />
        <!-- <clobbers target="cordova.plugins.saltfactory.http" /> -->
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="saltfactory-cordova-plugin-http">
                <param name="ios-package" value="SFCordovaPluginHttp"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SFCordovaPluginHttp.h" />
        <source-file src="src/ios/SFCordovaPluginHttp.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m" />
        
        <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h" />
        <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m" />

        <header-file src="src/ios/AFNetworking/AFNetworking.h" />

        <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h" />
        <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m" />

        <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h" />
        <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m" />

        <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h" />
        <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m" />

        <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h" />
        <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m" />

        <header-file src="src/ios/AFNetworking/AFURLSessionManager.h" />
        <source-file src="src/ios/AFNetworking/AFURLSessionManager.m" />

        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CFNetwork.framework"/>
    </platform>
</plugin>
